<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello World</title>

    <!-- Custom Font - Change 'Muli' to the font you want -->
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS inside CSS folder -->
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>


  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Let's add an ITP Person</h1>
<!-- validate this form!, look at bottom of this html -->
        <form method="post" action="/api/create" id="myForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" name="name">
          </div>
          <div class="form-group">
            <label for="itpYear">ITP Year</label>
            <input type="text" class="form-control" id="itpYear" placeholder="Year" name="itpYear">
          </div>
          <div class="form-group">
            <label for="interests">Interests</label>
            <input type="text" class="form-control" id="interests" name="interests">
            <p class="help-block">Enter interests separated by comma</p>
          </div>
          <div class="form-group">
            <label for="link">Link</label>
            <input type="text" class="form-control" id="link" placeholder="Link" name="link" >
          </div>
          <div class="form-group">
            <label for="imageUrl">ImageURL</label>
            <input type="text" class="form-control" id="imageUrl" placeholder="imageUrl" name="imageUrl" >
          </div>
          <label for="link">Has Glasses?</label>
            <input type="radio" name="hasGlasses" value="yes">Yes<br>
            <input type="radio" name="hasGlasses" value="no">No
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>

</body>

    <!-- JQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- JQuery validate -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>

<!-- validate the form! -->
    <script type="text/javascript">
      $("#myForm").validate({
        //make an object of rules
          rules: {
            // compound rule
            itpYear: {
              required: true,
              number: true,
              min: 1979,
              max: 2019
            },
            link: {
              required: true,
              url: true
            }
          }

      });
    </script>

</html>
