<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eternal Cloud Members</title>

    <script src="js/three.min.js"></script>
    <script src="js/three.js/Detector.js"></script>
    <script src="js/three.js/Stats.js"></script>
    	<script src="js/three.js/TrackballControls.js"></script>

      <script src="js/glitch/CopyShader.js"></script>
      <script src="js/glitch/DigitalGlitch.js"></script>

      <script src="js/glitch/EffectComposer.js"></script>
      <script src="js/glitch/RenderPass.js"></script>
      <script src="js/glitch/MaskPass.js"></script>
      <script src="js/glitch/ShaderPass.js"></script>
      <script src="js/glitch/GlitchPass.js"></script>


    <!-- Custom Font - Change 'Muli' to the font you want -->
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS inside CSS folder -->
    <link  href="css/make-profile.css" rel="stylesheet"/>

    <style media="screen">
      canvas{
        z-index: -10;
position: absolute;
top: 0px;
left: 0px;
width: 769px;
height: 699px;
      }
    </style>



  </head>
  <body>

  <div class="container" id="candidate-container">
    <img src="../img/candidate.gif" id="candidate-gif" alt="" />
    <h1 class="centered-type">Current Candidate</h1>

    </div>

  <!-- <div id="three-canvas" width="300" height="600">hi</div> -->
  <div class="container" id="full-form">
		<div class="row">
			<div class="col-md-3">
        <form id="candidateForm">

          <div class="form-group">
            <!-- <label for="name">Name</label> -->
            	<h1>PHILANTHROPY</h1>
              <p>What perentage of your income do you donate annually?</p>
            <input type="number" min='0' max='100' step='1' class="form-control" id="philanthropy" placeholder="10" name="philanthropy">
          </div>

          <button type="submit" class="btn btn-default">Submit</button>


        </form>
      <form method="post" action="/api/quiz" id="myForm">
          <div class="form-group">
            <!-- <label for="name">Name</label> -->
                <h1>CAREER CHOICE</h1>
              <p>Are you a banker?</p>
              <input type="radio" name="banker" id="banker-y" value="yes" checked> Yes<br>
              <input type="radio" name="banker" id="banker-n" value="no"> No<br>
          </div>

            <div class="form-group">
              <!-- <label for="name">Name</label> -->
                  <h1>INTELLIGENCE</h1>
                  <p>
                    Login to Github
                  </p>
                  <p>
                    Don't have github? Can you at least answer this question?
                  </p>
                  <p>
                    insert word problem here
                  </p>
              <input type="text" class="form-control" id="intelligence" placeholder="" name="intelligence">
            </div>


            <div class="form-group">
              <!-- <label for="name">Name</label> -->
                  <h1>ACTIVISM</h1>
                  <p>Name one organization or cause that you have donated time or money to, in the last year?
                  </p>
              <input type="text" class="form-control" id="activism" placeholder="" name="activism">
            </div>

        </form>

     </div>   <!--col -->
   </div>  <!--row -->
 </div>  <!--container -->


</body>

    <!-- JQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- CUSTOM JS look in public>JS -->
    <script src="js/candidate.js"></script>
</html>
