<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eternal Cloud Members</title>

    <script src="js/three.min.js"></script>
    <script src="js/three.js/Detector.js"></script>
    <script src="js/three.js/Stats.js"></script>
    	<script src="js/three.js/TrackballControls.js"></script>

      <script src="js/glitch/CopyShader.js"></script>
      <script src="js/glitch/DigitalGlitch.js"></script>

      <script src="js/glitch/EffectComposer.js"></script>
      <script src="js/glitch/RenderPass.js"></script>
      <script src="js/glitch/MaskPass.js"></script>
      <script src="js/glitch/ShaderPass.js"></script>
      <script src="js/glitch/GlitchPass.js"></script>


    <!-- Custom Font - Change 'Muli' to the font you want -->
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS inside CSS folder -->
    <link rel="stylesheet" href="css/style.css">
    <link  href="css/make-profile.css" rel="stylesheet"/>



  </head>
  <body>

  <div class="container" id="candidate-container">
    <img src="../img/candidate.gif" id="candidate-gif" alt="" />
    <h1 class="centered-type">Current Candidate</h1>

    </div>




</body>

    <!-- JQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- CUSTOM JS look in public>JS -->
    <script src="js/candidate.js"></script>
</html>
