<!doctype html>
<html>
	<head>
		<title>Eternal Cloud Login Screen</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">


		<script src="js/three.js/Three.js"></script>
		<script src="js/three.js/Detector.js"></script>
		<script src="js/three.js/Stats.js"></script>

		<script src="js/threex/THREEx.screenshot.js"></script>
		<script src="js/threex/THREEx.FullScreen.js"></script>
		<script src="js/threex/THREEx.WindowResize.js"></script>
		<script src="js/three.js/TrackballControls.js"></script>
		<script src="js/webcam.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link  href="css/make-profile.css" rel="stylesheet"/>
		<style media="screen">
			#login{
				text-decoration: line-through;
				text-align: center;
				font-size: 8vh;
			}

			.center{
				margin: auto;
				text-align: center;
			}
		</style>
	</head>
<body>
<div class="center">


<h1>you can't</h1>
<h1 id='login'>LOGIN</h1>
<h1>yet</h1>
</div>


	<div id="my_camera"></div>
	<div id="container"></div>






</body>
</html>
