html{

	overflow-x: hidden;
	overflow-y: auto;
	font: 'Rubik'
}

body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;

	color		: #222;
	background-image: url('../img/bg.gif');
	font-family	: "Rubik";
	font-size	: 100%;
}

#candidate-gif{
	width: 220px;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 53%;
	transform: translateX(-50%);
}

.centered-type{
	text-align: center;
}

#my_camera{
	position: absolute;
	top:0px;
	right:0px;
	/*margin: auto;*/
}
#info .top {
	position	: absolute;
	top		: 0px;
	width		: 100%;
	padding		: 5px;
	text-align	: center;
}
#info a {
	color		: #66F;
	text-decoration	: none;
}
#info a:hover {
	text-decoration	: underline;
}
#info .bottom {
	position	: absolute;
	bottom		: 0px;
	right		: 5px;
	padding		: 5px;
}

#container{
	z-index: -20;
	position: absolute;
}


#candidate-container{
	float: left;
	width: 200px;

}
